<div class="container-fluid">
  <div class="modal-header">
    <h4 class="modal-title">Sr Mail Box For {{ srId }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="card">
      <div class="card-content">
        <div class="card-body" *ngIf="safeUrl">
          <iframe class="iframe-one" width="100%" height="300" [src]="safeUrl" frameborder="0" scrolling="yes">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
