@import 'core/variables/variables';
.pointer {
  cursor: pointer;
}
/* /input type=number increment hiddeen css/ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number']:hover {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.airport-name {
  text-transform: capitalize !important;
}
:host ::ng-deep .city-drop-down .dropdown-item.active,
:host ::ng-deep .city-drop-down .dropdown-item:hover {
  background-color: #f2f2f2 !important;
  color: #000;
}
:host ::ng-deep .city-drop-down .dropdown-item,
:host ::ng-deep .city-drop-down .dropdown-menu {
  border-radius: 0 !important;
}
/* ------------------------------------------------------------ *\
	Flight Form
\* ------------------------------------------------------------ */

:host ::ng-deep .ngb-tp {
  .ngb-tp-input-container {
    width: 6em;
  }
}
:host ::ng-deep .ngb-tp-input {
  border-radius: 1px !important;
}

.form-control-custom {
  .multiSelectInputNoBorder {
    border: 0;
    outline: 0;
    width: auto;
  }
  .selected-item {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.2rem;
    font-size: 0.9em;
    background-color: #ebf5ff;
    border-radius: 2px;
    margin-right: 5px;
    white-space: nowrap;
    min-height: 23px;
  }

  .close-selected {
    margin-left: 0.3rem;
    border-left: 1px solid #b8dbff;
    padding: 0 0.3em;
  }
}
::ng-deep .accordion .card:last-of-type .card-header button {
  display: none !important;
}
::ng-deep .accordion .card:last-of-type .card-body {
  padding: 0;
}

::ng-deep .accordion > .card {
  overflow: inherit;
}
.offercards .card {
  box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%) !important;
  background-image: linear-gradient(135deg, #eeeeee, #ffffff);
  background-repeat: repeat-x;
  color: #ffffff;
  border: 1px solid #e2e2e2;
}
.form-control-lg {
  border-radius: 4px;
}

/* ------------------------------------------------------------ *\
	Table css
\* ------------------------------------------------------------ */
.pointer {
  cursor: pointer;
}
.listtr {
  background: #2f8be6;
  color: #ffffff;
  padding: 10px;
}
thead {
  background: #2f8be6;
}

th {
  color: #ffffff;
  white-space: nowrap;
  font-size: 14px;
}
th,
td,
td {
  border-bottom-width: 0;
}

.table td,
.table th {
  font-size: 14px !important;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 14px;
}

.table th {
  border-top: 0px solid #2f8be6;
}

.table-responsive {
  border: 0px solid #cecece;
}

.wrap-text {
  word-wrap: break-word;
}

.form-row-city {
  width: 75%;
  margin: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-items: center;
  border: solid 1px #e7e7e7;
  position: relative;
}
.fm-from {
  width: 300px;
  height: 105px;
}
.fm-from::after,
.trav-dates::after {
  border-right: 1px solid #d5d5d5;
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  height: 70px;
  bottom: 0;
  margin: auto;
}

.trav_inputField {
  border: 0;
  outline: 0;
  background: none;
  min-width: 140px;
  max-height: 36px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
}
.citygroup {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.truncate {
  //width: 100%;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 600;
}
.cityswipCircle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: -22px;
  border-radius: 100%;
  background: #fff url('../../../../../../assets/img/swap-img.png') no-repeat 11px 14px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
  z-index: 1;
  cursor: pointer;
  background-size: 16px;
}
.landingSprite {
  background-repeat: no-repeat;
  background-size: 14px;
  font-size: 0px;
  flex-shrink: 0;
  width: 14px;
  height: 11px;
}
.trav-dates {
  width: 200px; //158px;
  height: 95px;
}
.font30 {
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
}
.blackText {
  font-size: 16px;
}
.popover .pointer {
  position: absolute;
  right: 5px;
  top: 5px;
}
.form-control-custom .selected-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.2rem;
  font-size: 0.9em;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 2px;
  white-space: nowrap;
  min-height: 23px;
  padding: 4px 4px 5px 4px;
}
.form-control.form-control-sm.square.form-control-custom {
  padding: 0 5px;
}
.form-control.form-control-sm.square.form-control-custom input {
  padding: 5px 0 0 0;
}
.ngb-tp-hour input,
.ngb-tp-minute input {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}
#team {
  width: 120px;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 20px;
}
#resoures {
  width: 120px;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 20px;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 2px;
  padding-left: 7px;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .fm-from {
    width: 230px;
  }
}

.dates-border-none {
  border: none;
}

.highlight_text {
  cursor: pointer;
}

.airport-text {
  font-size: 13px;
}

.more-font-size {
  font-size: 13px;
}

.lpo--detalils {
  float: right;
}
.lpo--detalils:hover {
  /* background: #2f8be6;
  display: inline-block;
  color: #fff; */
  text-decoration: underline;
  cursor: pointer;
}
/* :host ::ng-deep  .form-actions {
  border-top: 1px solid #dcdce0;
  padding: 20px 0;
  margin-top: 25px !important;
} */
/* .ng-select .ng-select-container{ min-height: 37px !important;} */
.position-abs {
  position: absolute;
  top: 15px;
  right: 45px;
  z-index: 9;
}
.text-light {
  color: #b6b6b6 !important;
}
.nav-link:hover i {
  color: #2f8be6 !important;
}
.nav-justified .nav-item {
  text-align: right;
}

.flex-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.flex-btn span {
  position: relative;
}
.flex-btn::after {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0px;
  left: -0px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}
.flex-btn::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0px;
  left: -0px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
.srchbar {
  width: calc(100% - 40px);
}
.srchbarright {
  width: 40px;
  position: absolute;
  right: -10px;
  top: 0;
}

:host ::ng-deep .ng-select .ng-select-container {
  border-radius: 1px !important;
}
.ng-select .custom .ng-select-container {
  border-radius: 1px !important;
}
:host ::ng-deep.ng-value-container:hover .ng-value:hover .ng-value-icon.left:hover {
  border-color: #2f8be6 !important;
  border-radius: 50px !important;
  background-color: #2f8be6;
  color: #fff;
}

:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
  background-color: #2f8be6 !important;
  color: #fff !important;
  font-weight: 600;
}
:host ::ng-deep .ng-optgroup .ng-star-inserted:hover {
  background-color: #2f8be6 !important;
  color: #fff !important;
}

:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
  background-color: #2f8be6 !important;
  color: #fff !important;
}
:host ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #fff;
  background-color: #2f8be6 !important;
}

:host ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #2f8be6 !important;
  color: #fff;
}

:host ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 0.9em;
  margin-bottom: 5px;
  background-color: #2f8be6 !important;
  border-radius: 2px;
  margin-right: 5px;
  color: #fff;
}
:host ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  //border-right: none;
  border-right: 1px solid #fff;
}
:host ::ng-deep .ng-value-icon .left .ng-star-inserted:hover,
:host ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:hover {
  background-color: #2f8be6 !important;
}
:host ::ng-deep .ng-placeholder {
  color: #2f8be6 !important;
}
:host ::ng-deep .ng-select-focused {
  &:not(.ng-select-opened) > .ng-select-container {
    border-color: #2f8be6 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
}
:host ::ng-deep.dropdown-item {
  padding: 5px 20px !important;
}


form .form-body {
  overflow: visible !important;
}
.mobile-only {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .mobile-only {
    display: inline-block;
  }
  .citygroup,
  .citymakeRelative {
    margin-bottom: 0;
  }
  .truncate {
    margin-top: 0;
    font-size: 12px;
    font-weight: normal;
  }
  .sm-float-none {
    float: none !important;
  }
  .product-side-navbar-sr.nav {
    display: block !important;
  }
  .srchbarright {
    width: 40px;
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    display: block;
  }
  .form-row-city {
    display: block !important;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .fm-from {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    height: auto;
    margin-bottom: 10px;
    background: #f9f9f9;
  }
  .trav-dates {
    width: 50%;
    height: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: inline-block;
  }
  .trav-clas {
    width: 100%;
    height: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .trav-clas .ng-select-container {
    background: transparent;
    padding: 0;
    line-height: 30px;
    margin-top: -10px;
  }
  .trav-dates .form-control {
    height: auto;
    padding: 0;
    font-size: 13px;
  }
  .fm-from::after,
  .trav-dates::after {
    border: none;
  }
  .product-side-navbar-sr li {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
    border-radius: 5px 50px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    margin-bottom: 4px;
    margin-right: 3px !important;
    padding: 15px !important;
    min-height: 38px;
    background: #2f8be6;
    background: linear-gradient(90deg, #2f8be6 0%, #4ea1f4 100%);
  }
  .trav_inputField {
    font-size: 14px;
  }
  .mobile-none {
    display: none !important;
  }
  .sm-mt-2 {
    margin-top: 15px;
  }
  .flight-up {
    background: url(/assets/img/flight-up.png) no-repeat 10px center;
    padding-left: 55px;
    background-size: 30px;
  }
  .flight-down {
    background: url(/assets/img/flight-down.png) no-repeat 10px center;
    padding-left: 55px;
    background-size: 30px;
  }
  .date-icon {
    background: url(/assets/img/calendar.png) no-repeat 14px center;
    padding-left: 55px;
    background-size: 20px;
    height: 60px;
  }
  .return-date {
    margin-left: 10px;
    width: calc(50% - 10px);
  }
  .srchbar {
    box-shadow: none !important;
    margin-bottom: 0px !important;
  }
  .cityswipCircle {
    position: absolute;
    right: 20px;
    margin-top: -23px !important;
    rotate: 90deg;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    background-position: center;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
    background-size: 16px;
    border: 1px solid #d5d5d5;
  }
  :host ::ng-deep #class .ng-select-container {
    border: none;
    margin-left: -10px;
    background: transparent;
    margin-top: -7px;
  }
  .pt-top {
    padding-top: 5px;
  }
  .btn-mobile {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
  }
  .btn-f-w {
    width: 100%;
    margin-left: 0px !important;
    padding: 12px;
    margin-bottom: 10px;
  }
  :host ::ng-deep .m-pl-none {
    float: none !important;
  }
}


.icon-check-font{
  font-size: 28px;
}


//desktop date picker css
@media only screen and (min-width: 768px) {
//datepicker
.dayswid {
  width: 80px;
}
.hdays {
  font-size: 30px;
  font-weight: 600;
  color: #342e49;
  height: 36px;
  padding: 0;
}

:host ::ng-deep ngb-datepicker {
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  display: block;
  /* display: inline-block; */
}
:host ::ng-deep .ngb-dp-header {
  background-color: #f8f9fa;
  background-color: #ffff;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 1rem;
}
:host ::ng-deep.ngb-dp-month-name {
  background-color: #f8f9fa;
  background-color: #ffff;
  font-size: larger;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0 2rem;
  color: #2f8be6 !important;
}
:host ::ng-deep .ngb-dp-weekdays {
  background-color: #f8f9fa;
  background-color: #ffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}
:host ::ng-deep .ngb-dp-arrow button {
  box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
}

:host ::ng-deep .citygroup .dropdown-menu {
  min-width: 25rem;
}
:host ::ng-deep .citygroup .ngb-dp-months {
  font-weight: 600;
}
:host ::ng-deep .citygroup .ngb-dp-weekdays {
  border-bottom: none;
}
:host ::ng-deep .citygroup .ngb-dp-week-number,
:host ::ng-deep .citygroup .ngb-dp-weekday,
:host ::ng-deep .citygroup .ngb-dp-day {
  font-style: normal;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 0.2rem;
}
:host ::ng-deep .citygroup .ngb-dp-weekday {
  border: 1px solid #cecece;
  box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
}

:host ::ng-deep [ngbDatepickerDayView=''] {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 0.5rem !important;
  box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
}

}

.segment-line-status-name {
  font-size: 11px !important;
  color: #3c8cd7 !important;
}


:host ::ng-deep.dropdown-toggle::after {
  display: none;
}
.socialm a.btn-outline-info {
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #909090;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 2px #c9c9c9, inset 0px 1px 0px #fff;
  border: solid 1px transparent;
  font-size: 16px;
  width: 34px;
}
.socialm a.btn-outline-info:hover {
  text-decoration: none;
  background-color: #f7f7f7 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #2f8be6 !important;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 2px #c9c9c9, inset 0px 1px 0px #fff;
  border: solid 1px transparent;
}
.margin-left-auto {
  margin-left: auto;
}
