<!--unAuthorized page starts-->
<section id="error" class="unauthorized-bg">
  <div class="container-fluid">
    <div class="row auth-height full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-12 text-center">
            <img src="assets/img/gallery/unauthorized.jpg"  class="img-fluid error-img mt-2" height="300" width="400" alt="UnAuthorized">
            <h1 class="mt-4">Access denied!</h1>
            <div class="w-75 error-text mx-auto mt-4">
              <p>The page you are looking for might have unauthorized access to you!.</p>
            </div>
            <a [routerLink]="['/']" class="btn btn-warning my-2">Back To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--unAuthorized page ends-->
