<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-12">
      <div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="addonsForm">
              <div formArrayName="addonsLine">
                <div *ngFor="let a  of addonsLine().controls; let i = index ; trackBy: trackByFn" [formGroupName]="i">

                  <div class="form-row">
                    <div class="col-md-2 col-12">
                      <div class="form-group mb-2">
                        <label for="addons">Add-Ons</label>

                        <ng-select
                        [items]="searchAddons$ | async"
                        bindLabel="name"
                        class="custom"
                        bindValue="name"
                        [minTermLength]="minLengthSearchAddonsTerm"
                        placeholder="Enter Addons Name"
                        [loading]="searchAddonsLoading"
                        [closeOnSelect]="true"
                        typeToSearchText="Please enter {{
                          minLengthSearchAddonsTerm
                        }} or more characters"
                        [typeahead]="searchAddonsInput$"
                        formControlName="addonTitle"
                      >
                      </ng-select>
                      </div>
                    </div>
                    <div class="col-12 col-md-1">
                      <ul class="list-unstyled mb-0 mt-4">
                        <li class="d-inline-block mr-2 mb-2">
                          <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="{{'checkbox1' + i}}"
                              (change)="toggleVisibilityBooking($event, i)" formControlName="addonWithBooking">
                            <label for="{{'checkbox1' + i}}"><span>Booking</span></label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group mb-2">
                        <label for="Rooms">Rooms</label>



                        <ng-select
                        [multiple]="true"
                        class="custom"
                        (change)="roomDependsOnPax($event,i)"
                        [items]="roomsData"
                        groupBy="selectedAllGroup"
                        [selectableGroup]="true"
                        [selectableGroupAsModel]="false"
                        appendTo="body"
                        bindValue="id"
                        bindLabel="roomNumber"
                        placeholder="Select"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        formControlName="addonRoomId"
                      >
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                          <input
                            id="item-{{ index }}"
                            type="checkbox"
                            [ngModel]="item$?.selected"
                            [ngModelOptions]="{ standalone: true }"
                          />
                          {{ item.selectedAllGroup }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input
                            id="item-{{ index }}"
                            type="checkbox"
                            name="item-{{ index }}"
                            [ngModel]="item$?.selected"
                            [ngModelOptions]="{ standalone: true }"
                          />
                          {{ item.roomNumber }}
                        </ng-template>

                        <ng-template ng-multi-label-tmp let-items="items">
                          <div class="ng-value" *ngFor="let item of items | slice: 0:0">
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                          </div>
                          <div class="ng-value" *ngIf="items?.length > 0">
                            <span class="ng-value-label"> {{ items?.length === roomsData?.length ? 'All' : items?.length }}
                              selected</span>
                          </div>
                        </ng-template>
                      </ng-select>
                      </div>
                    </div>
                    <div class="col-12 col-md-2">
                      <div class="form-group mb-2">
                        <label for="Nights">Nights</label>
                        <ng-select
                          [multiple]="true"
                          [items]="nights"
                          class="custom"
                          groupBy="selectedAllGroup"
                          [selectableGroup]="true"
                          [selectableGroupAsModel]="false"
                          appendTo="body"
                          bindValue="id"
                          bindLabel="name"
                          placeholder="Select"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          formControlName="addonNights"
                        >
                          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input
                              id="item-{{ index }}"
                              type="checkbox"
                              [ngModel]="item$?.selected"
                              [ngModelOptions]="{ standalone: true }"
                            />
                            {{ item.selectedAllGroup }}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input
                              id="item-{{ index }}"
                              type="checkbox"
                              name="item-{{ index }}"
                              [ngModel]="item$?.selected"
                              [ngModelOptions]="{ standalone: true }"
                            />
                            {{ item.name }}
                          </ng-template>

                          <ng-template ng-multi-label-tmp let-items="items">
                            <div class="ng-value" *ngFor="let item of items | slice: 0:0">
                              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items?.length > 0">
                              <span class="ng-value-label"> {{ items?.length  }}
                                selected</span>
                            </div>
                          </ng-template>
                        </ng-select>

                      </div>
                    </div>

                    <div class="col-md-2 col-12 ">
                      <div class="form-group mb-2">
                        <label for="Pax">Pax</label>


                        <ng-select
                          [multiple]="true"
                          class="custom"
                          [items]="roomWithoutCount[i]"
                          groupBy="selectedAllGroup"
                          [selectableGroup]="true"
                          [selectableGroupAsModel]="false"
                          appendTo="body"
                          bindValue="labelName"
                          bindLabel="labelName"
                          placeholder="Select"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          formControlName="addonPassengers"
                        >
                          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input
                              id="item-{{ index }}"
                              type="checkbox"
                              [ngModel]="item$?.selected"
                              [ngModelOptions]="{ standalone: true }"
                            />
                            {{ item.selectedAllGroup }}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input
                              id="item-{{ index }}"
                              type="checkbox"
                              name="item-{{ index }}"
                              [ngModel]="item$?.selected"
                              [ngModelOptions]="{ standalone: true }"
                            />
                            {{ item.labelName }}
                          </ng-template>

                          <ng-template ng-multi-label-tmp let-items="items">
                            <div class="ng-value" *ngFor="let item of items | slice: 0:0">
                              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items?.length > 0">
                              <span class="ng-value-label"> {{ items?.length ===roomWithoutCount[i]?.length ? 'All' : items?.length }}
                                selected</span>
                            </div>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group mb-2">
                        <label for="Count">Count</label>
                        <input type="number" placeholder="Count" id="Count" class="form-control  square"
                          name="Count" formControlName="addonCount">
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group mb-2">
                        <label for="remarks">Remarks</label>
                        <textarea id="remarks" placeholder="Remarks" rows="3"
                          class="form-control  square description-box" name="remarks"
                          formControlName="addonRemarks"></textarea>
                      </div>
                    </div>
                    <div class="d-flex mt-4">
                      <ul class="list-unstyled mb-0">
                        <li class="d-inline-block mr-2 mb-2">
                          <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="{{'checkbox2' + i}}" formControlName="addonRequired">
                            <label for="{{'checkbox2' + i}}" placement="bottom"
                              ngbTooltip="Required"><span>Req</span></label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2 mb-2">
                          <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="{{'checkbox3' + i}}" formControlName="addonExtraCost">
                            <label for="{{'checkbox3' + i}}"><span>E.Cost</span></label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="d-flex mt-2 markup-highlight ">
                      <button (click)="add(i)" type="button" class="btn mt-1 p-0 ">
                        <i class="ft-plus-circle text-primary" aria-hidden="true" style="font-size: 28px;"></i>
                      </button>
                      <button (click)="delete(i)" *ngIf="!isEdit" type="button" class="btn p-0 ml-2 mt-1">
                        <i class="ft-minus-circle text-primary" aria-hidden="true" style="font-size: 28px;"></i>
                      </button>
                      <button (click)="editdelete(i,a.value.id)" *ngIf="isEdit" type="button" class="btn p-0 ml-2 mt-1">
                        <i class="ft-minus-circle text-primary" aria-hidden="true" style="font-size: 28px;"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="d-flex justify-content-end">
              <button type="button" *ngIf="!isEdit" (click)="onSubmitAddonsForm()" class="btn btn-primary mr-2">
                <i class="ft-bookmark"></i>
                Save
              </button>
              <button type="button" (click)="onEditSubmitAddonsForm()" *ngIf="isEdit" class="btn btn-primary mr-2">
                <i class="ft-bookmark"></i>
                Update
              </button>
              <button type="button" (click)="closeModalWindowForAddOns()" class="btn btn-secondary">
                <i class="ft-x mr-1"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
