<app-dashboard-btns></app-dashboard-btns>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <app-quote-not-fulfilled></app-quote-not-fulfilled>
  </div>
  <div class="col-md-6 col-sm-12">
    <app-quote-count-report></app-quote-count-report>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <app-quote-added-reports></app-quote-added-reports>
  </div>
  <div class="col-md-6 col-sm-12">
    <app-quote-sent-not-approved-reports></app-quote-sent-not-approved-reports>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <app-quote-approved-not-fulfilled-reports></app-quote-approved-not-fulfilled-reports>
  </div>
</div>
