.bg-light-primary {
  background-color: #efdeff!important;
  color: #975aff!important;
  border-color: #efdeff !important;
}
.btn.bg-light-primary:hover {
  background-color: #975aff!important;
  color: #fff!important;
  border-color: #975aff;
}
