<div class="row">
  <div class="col-12 col-md-12 mb-2 mb-md-0">
    <div role="group ">
      <button
        type="button"
        (click)="navigatedToFinance()"
        class="btn btn-success bg-light-success round mr-1 px-2 py-0 font-small-2"
      >
        Finance
      </button>
      <button
        type="button"
        (click)="navigatedToAgent()"
        class="btn btn-info bg-light-info round mr-1 px-2 py-0 font-small-2"
      >
        Bookings
      </button>
      <button type="button" class="btn btn-secondary bg-light-secondary round mr-1 px-2 py-0 font-small-2">
        Payables
      </button>
      <button type="button" class="btn btn-light bg-light-light round mr-1 px-2 py-0 font-small-2">Receivables</button>
      <button type="button" class="btn btn-warning bg-light-warning round mr-1 px-2 py-0 font-small-2">DMC</button>
      <button type="button" class="btn btn-primary bg-light-primary round mr-1 px-2 py-0 font-small-2">Holidays</button>
      <button
        type="button"
        (click)="navigatedToQuote()"
        class="btn btn-danger bg-light-danger round mr-1 px-2 py-0 font-small-2"
      >
        Quotes
      </button>
    </div>
  </div>
</div>
