<div class="card">
  <!--  <div class="card-header">
    <h4 class="card-title">SR Support</h4>

  </div> -->
  <div class="card-content">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item btn btn-primary bg-light-primary mr-1 mb-1" (click)="openSupportView('instruction')">
          <!-- <span class="btn btn-primary bg-light-primary mr-1 mb-1">7</span>Instructions -->
          Instructions
        </li>
        <li class="list-group-item btn btn-primary bg-light-secondary mr-1 mb-1" (click)="openSupportView('faq')">
          FAQ's
        </li>
        <li
          class="list-group-item list-group-item btn btn-primary bg-light-success mr-1 mb-1"
          (click)="openSupportView('process')"
        >
          Process
        </li>
        <li
          class="list-group-item list-group-item btn btn-primary bg-light-info mr-1 mb-1"
          (click)="openSupportView('price')"
        >
          Pricing
        </li>
        <li
          class="list-group-item list-group-item btn btn-primary bg-light-warning mr-1 mb-1"
          (click)="openSupportView('attachments')"
        >
          Attachments
        </li>
        <li
          class="list-group-item list-group-item btn btn-primary bg-light-danger mr-1 mb-1"
          (click)="openSupportView('documents')"
        >
          Documents
        </li>
      </ul>
    </div>
  </div>
</div>
