<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-xl-12  col-12">
      <app-customer-details></app-customer-details>
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="flightForm">
              <div class="card">
                <div  style="overflow: initial">
                  <div class="form-row align-items-center mb-1">
                    <div class="col-12 col-lg-12 col-md-12">
                      <ul class="list-unstyled mb-0 text-left position-relative">
                        <li class="d-inline-block mr-2">
                          <div class="form-group radio">
                            <input type="radio" name="tripTypeId" value="1" [(ngModel)]="tripTypeId"
                              (change)="onFlightTypeChange($event.target)" formControlName="tripTypeId" id="oneWay" />
                            <label for="oneWay">One Way</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2">
                          <div class="form-group radio">
                            <input type="radio" name="tripTypeId" (change)="onFlightTypeChange($event.target)"
                              formControlName="tripTypeId" value="69" id="round" />
                            <label for="round">Round</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2">
                          <div class="form-group radio">
                            <input type="radio" name="tripTypeId" (change)="onFlightTypeChange($event.target)" value="11"
                              formControlName="tripTypeId" id="multiCity" />
                            <label for="multiCity">Multi City</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2 float-right">
                          <a class="p-0 ml-3" style="display: inline-block" (click)="collapseConnecting.toggle()"
                            [attr.aria-expanded]="!isCollapsedtypeOfFlightsFlex" aria-controls="collapseExample"><i
                              class="ft-zap text-info"></i></a>
                        </li>
                        <div id="typeofflightsflex" #collapseConnecting="ngbCollapse"
                          [(ngbCollapse)]="isCollapsedtypeOfFlightsFlex" class="popover fade show bs-popover-bottom ml-4" style="
                            position: absolute;
                            top: 106px;
                            margin-top: 5px;
                            right: -63px !important;
                            left: auto;
                            will-change: transform;
                            transform: translate(-50px, -84px);
                            max-width: 886px;
                            width: 310px;
                            z-index: 9999;
                          ">
                          <div class="arrow" style="right: 25px"></div>
                          <div class="" style="padding: 15px">
                            <div *ngFor="let control of authorizedAux;trackBy: trackByFn">
                              <ul class="list-unstyled mb-0 ml-1">
                                <li class="d-inline-block mr-2 mb-2">
                                  <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="{{ 'color-checkbox-2' + control.name }}"
                                      [ngModel]="control.value"
                                      (ngModelChange)="control.value = $event; flightForm?.get('flexStops')?.setValue(parse())"
                                      [ngModelOptions]="{ standalone: true }" />
                                    <label for="{{ 'color-checkbox-2' + control.name }}"><span>{{ control.name }}</span></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <li class="d-inline-block mr-2 float-right" *ngIf="typeOfFlight === 'Connecting'">
                          <div class="form-group">
                            <select class="form-control form-control-sm square" style="padding: 0 6px; height: 22px"
                              formControlName="connectingDetails" id="exampleFormControlSelect1">
                              <option value="1 Stop">1</option>
                              <option value="2 Stop">2</option>
                              <option value="3 or more stops">3</option>
                            </select>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2 float-right">
                          <div class="form-group radio">
                            <input type="radio" name="typeOfFlight" value="Connecting" (change)="changeTypeOfFlight($event)"
                              formControlName="typeOfFlight" id="Connecting" />
                            <label for="Connecting">Connecting</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2 float-right">
                          <div class="form-group radio">
                            <input type="radio" name="typeOfFlight" value="Direct" (change)="changeTypeOfFlight($event)"
                              formControlName="typeOfFlight" id="stopOver" />
                            <label for="stopOver">Direct</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2 float-right">
                          <div class="form-group radio">
                            <input type="radio" name="typeOfFlight" [(ngModel)]="typeOfFlight" value="Non Stop"
                              (change)="changeTypeOfFlight($event)" formControlName="typeOfFlight" id="directFlight" />
                            <label for="directFlight">Non Stop</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div formArrayName="serviceRequestSegment" class="p-0">
                  <div *ngFor="let flight of flights().controls; let i = index;trackBy: trackByFn" [formGroupName]="i"
                    class="row p-2 form-flight-container mb-0 ng-pristine ng-invalid ng-star-inserted ng-touched">

                    <div class="form-row-city align-items-top shadow-sm mb-3 col-md-10">

                      <div class="fm-from position-relative">
                        <div class="form-group citygroup">

                          <label for="from" class="d-flex">From
                            <a class="p-0 ml-3" style="display: inline-block; margin-left: auto !important" (click)="
                                rowsControlsFlexForm[i].isCollapsedFlexFrom = !rowsControlsFlexForm[i]?.isCollapsedFlexFrom
                              " [attr.aria-controls]="'FlexForm_' + i"><i class="ft-zap text-info"></i></a>
                          </label>
                          <input id="from" type="text" #typeaheadInstance="ngbTypeahead" formControlName="fromCode"
                            class="trav_inputField ng-pristine ng-invalid is-invalid ng-touched" placeholder="Enter From"
                            (keydown)="typeaheadKeydown($event)" [resultTemplate]="searchResultTemplate"
                            (selectItem)="bindValueOfFromControl($event, i, 'fromCode')"
                            [inputFormatter]="formatter" [ngbTypeahead]="onSearchLocation" [ngClass]="{
                              'is-invalid':
                                flights().controls[i].get('fromCode').errors &&
                                ((isValidFormSubmitted != null && !isValidFormSubmitted) ||
                                  flights().controls[i].get('fromCode').touched)
                            }" />
                          <p  class="citymakeRelative px-0" *ngIf="flight.value.fromCode">
                            <span  class="truncate airPortName airport-text"  >
                              <p >
                                {{flight.value.fromCode?.code}}, {{flight.value.fromCode?.name === null|| flight.value.fromCode?.name === undefined ?null:flight.value.fromCode?.name +','+flight.value.fromCode?.country}}
                              </p>
                            </span>
                          </p>
                          <div class="invalid-feedback" *ngIf="
                              flights().controls[i].get('fromCode').errors?.required &&
                              ((isValidFormSubmitted != null && !isValidFormSubmitted) ||
                                flights().controls[i].get('fromCode').touched)
                            ">
                            required
                          </div>

                          <ng-template #searchResultTemplate let-r="result" let-t="term">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                          </ng-template>
                        </div>
                      </div>
                      <span class="cityswipCircle" (click)="reserve(i,flight.value)">
                      </span>

                      <div id="FlexForm_{{ i }}" [ngbCollapse]="rowsControlsFlexForm[i]?.isCollapsedFlexFrom"
                        class="popover fade show bs-popover-bottom ml-4" style="
                          position: absolute;
                          top: 99px;
                          margin-top: 21px;
                          left: 0px;
                          will-change: transform;
                          transform: translate(-50px, -84px);
                          max-width: 806px;
                          width: 320px;
                        ">
                        <div class="text-right">
                          <div (click)="rowsControlsFlexForm[i].isCollapsedFlexFrom = !rowsControlsFlexForm[i]?.isCollapsedFlexFrom
                            " [attr.aria-expanded]="!rowsControlsFlexForm[i]?.isCollapsedFlexFrom" class="pointer"
                            [attr.aria-controls]="'isCollapsedFlexFrom'+i">
                            <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                          </div>
                        </div>
                        <div class="arrow" style="right: 12px"></div>
                        <div class="row" style="padding: 15px">
                          <div class="col-12 col-md-12">
                            <div class="form-group">
                              <label for="flexfrom"> Flex From </label>
                              <div class="form-control form-control-sm square form-control-custom">
                                <span class="selected-item" *ngFor="let item of selectedFlexFromItems[i]">
                                  {{ item }}
                                  <span class="close-selected" (click)="closeFlex(item, 'flexFrom', i)">&nbsp;x</span>
                                </span>
                                <input id="flexfrom" type="text" placeholder="Enter From"
                                  (selectItem)="onSelectedItemsFlex($event, 'flexFrom', i); flexFromInput.value = ''"
                                  #flexFromInput class="multiSelectInputNoBorder" formControlName="flexFromCode"
                                  (keydown)="typeaheadKeydown($event)" [resultTemplate]="searchResultTemplate"
                                  [inputFormatter]="formatter" [ngbTypeahead]="onSearchLocation" />
                                <ng-template #searchResultTemplate let-r="result" let-t="term">
                                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="fm-from position-relative">
                        <div class="form-group citygroup">
                          <label for="from" class="d-flex">To
                            <a class="p-0 ml-3" style="display: inline-block; margin-left: auto !important"
                              (click)="rowsControlsFlexTo[i].isCollapsedFlexTo = !rowsControlsFlexTo[i]?.isCollapsedFlexTo"
                              [attr.aria-controls]="'FlexTo_' + i"><i class="ft-zap text-info"></i></a>
                          </label>
                          <input id="from" type="text" #typeaheadInstance="ngbTypeahead" formControlName="toCode"
                            class="trav_inputField ng-pristine ng-invalid is-invalid ng-touched"
                            (keydown)="typeaheadKeydown($event)" [resultTemplate]="searchResultTemplate" placeholder="Enter To"
                            (selectItem)="bindValueOfToControl($event, i, 'toCode')"
                            [inputFormatter]="formatter" [ngbTypeahead]="onSearchLocation" [ngClass]="{
                              'is-invalid':
                                flights().controls[i].get('toCode').errors &&
                                ((isValidFormSubmitted != null && !isValidFormSubmitted) ||
                                  flights().controls[i].get('toCode').touched)
                            }" />

                          <p  class="citymakeRelative px-0" *ngIf="flight.value.toCode">
                            <span  class="truncate airPortName airport-text" >
                              <p >
                                {{flight.value.toCode?.code}}, {{flight.value.toCode?.name === null || flight.value.toCode?.name === undefined ?null:flight.value.toCode?.name +','+flight.value.toCode?.country }}
                              </p>
                            </span>
                          </p>
                          <div class="invalid-feedback" *ngIf="
                              flights().controls[i].get('toCode').errors?.required &&
                              ((isValidFormSubmitted != null && !isValidFormSubmitted) ||
                                flights().controls[i].get('toCode').touched)
                            ">
                            required
                          </div>

                          <ng-template #searchResultTemplate let-r="result" let-t="term">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                          </ng-template>
                        </div>
                      </div>
                      <div id="FlexTo_{{ i }}" [ngbCollapse]="rowsControlsFlexTo[i]?.isCollapsedFlexTo"
                        class="popover fade show bs-popover-bottom ml-4" style="
                          position: absolute;
                          top: 99px;
                          margin-top: 18px;
                          left: 310px;
                          will-change: transform;
                          transform: translate(-50px, -84px);
                          max-width: 806px;
                          width: 320px;
                        ">
                        <div class="text-right">
                          <div (click)="rowsControlsFlexTo[i].isCollapsedFlexTo = !rowsControlsFlexTo[i]?.isCollapsedFlexTo"
                            [attr.aria-expanded]="!rowsControlsFlexTo[i]?.isCollapsedFlexTo" class="pointer"
                            [attr.aria-controls]="'isCollapsedFlexTo'+i">
                            <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                          </div>
                        </div>
                        <div class="arrow" style="right: 12px"></div>
                        <div class="row" style="padding: 15px">
                          <div class="col-12 col-md-12">
                            <div class="form-group">
                              <label for="flexfrom">Flex To </label>
                              <div class="form-control form-control-sm square form-control-custom">
                                <span class="selected-item" *ngFor="let item of selectedFlexToItems[i]">
                                  {{ item }}
                                  <span class="close-selected" (click)="closeFlex(item, 'flexTo', i)">&nbsp;x</span>
                                </span>
                                <input id="flexfrom" type="text"
                                  (selectItem)="onSelectedItemsFlexTo($event, 'flexTo', i); flexToInput.value = ''" #flexToInput
                                  class="multiSelectInputNoBorder" placeholder="Enter To" formControlName="flexToCode"
                                  (keydown)="typeaheadKeydown($event)" [resultTemplate]="searchResultTemplate"
                                  [inputFormatter]="formatter" [ngbTypeahead]="onSearchLocation" />

                                <ng-template #searchResultTemplate let-r="result" let-t="term">
                                  {{ result.length }} dfd {{ term }}
                                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="trav-dates position-relative">
                        <div class="form-group citygroup">
                          <label for="dp" class="d-flex">Departure
                            <a class="p-0" style="display: inline-block" (click)="
                                rowsControlsForDepature[i].isCollapsedDepature =
                                  !rowsControlsForDepature[i]?.isCollapsedDepature
                              " [attr.aria-controls]="'collapsedepature_' + i"><i class="ft-clock"
                                style="font-size: 20px; padding: 0px 4px; align-items: center; display: flex"></i></a>
                          </label>
                          <input type="date" class="form-control form-control-sm square dates-border-none" name="departureDate"
                            id="departureDate" formControlName="depatureDate" [ngClass]="{ 'is-invalid': flights().controls[i].get('depatureDate').errors && (isValidFormSubmitted != null && !isValidFormSubmitted ||
                            flights().controls[i].get('depatureDate').touched) }">

                          <div class="invalid-feedback" *ngIf="
                              flights().controls[i].get('depatureDate').errors?.required &&
                              ((isValidFormSubmitted != null && !isValidFormSubmitted) ||
                                flights().controls[i].get('depatureDate').touched)
                            ">
                            required
                          </div>
                        </div>
                        <div id="collapsedepature_{{ i }}" [ngbCollapse]="rowsControlsForDepature[i]?.isCollapsedDepature"
                          class="popover fade show bs-popover-bottom" style="
                            position: absolute;
                            top: 109px;
                            left: -80px;
                            will-change: transform;
                            transform: translate(-50px, -84px);
                            max-width: 886px;
                            width: 486px;
                          ">
                          <div class="text-right">
                            <div (click)="
                                rowsControlsForDepature[i].isCollapsedDepature =
                                  !rowsControlsForDepature[i]?.isCollapsedDepature
                              " [attr.aria-expanded]="!rowsControlsForDepature[i]?.isCollapsedDepature" class="pointer"
                              [attr.aria-controls]="'isCollapsedDepature'+ i">
                              <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                            </div>
                          </div>
                          <div class="arrow" style="right: 238px"></div>
                          <div formArrayName="flexDepature">
                            <div *ngFor="let fd of depature(i).controls; let flexDepatureIndex = index;trackBy: trackByFn"
                              [formGroupName]="flexDepatureIndex">
                              <div class="row align-items-center" style="padding: 15px 15px 0 15px">
                                <div class="col-12 col-md-5">
                                  <div class="form-group">
                                    <label for="dp" class="d-flex"> Departure Date </label>
                                    <input type="date" class="form-control form-control-sm square"
                                      formControlName="flexDepatureDate" name="FlexdepartureDate" id="FlexdepartureDate"
                                      (change)="onChangeDateValidations(i)" />
                                  </div>
                                </div>
                                <div class="col-12 col-md-4 p-0">
                                  <div class="form-group timeouter mb-0">
                                    <label for="depatureTime">Departure Time</label>
                                    <ngb-timepicker class="form-control-sm" name="flexDepatureTime" [spinners]="false"
                                      id="flexDepatureTime" formControlName="flexDepatureTime">
                                    </ngb-timepicker>
                                  </div>
                                </div>
                                <div class="col-12 col-md-3 p-0">
                                  <button (click)="addFlexDepature(i)" type="button" class="btn p-0 ml-2">
                                    <i class="ft-plus-circle" aria-hidden="true" style="font-size: 28px"></i>
                                  </button>
                                  <button (click)="removeflexDepature(i, flexDepatureIndex)" type="button" class="btn p-0 ml-2">
                                    <i class="ft-minus-circle" aria-hidden="true" style="font-size: 28px"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="trav-dates position-relative" *ngIf="initialRound">
                        <div class="form-group citygroup">
                          <label for="dp" class="d-flex">Return
                            <a class="p-0" style="display: inline-block" (click)="
                                rowsControlsForreturn[i].isCollapsedreturn = !rowsControlsForreturn[i]?.isCollapsedreturn
                              " [attr.aria-controls]="'collapsereturn_' + i"><i class="ft-clock"
                                style="font-size: 20px; padding: 0px 4px; align-items: center; display: flex"></i></a>
                          </label>
                          <input type="date" class="form-control form-control-sm square dates-border-none"
                            formControlName="returnDate" name="returnDate" id="returnDate">

                        </div>

                        <div id="collapsereturn_{{ i }}" [ngbCollapse]="rowsControlsForreturn[i]?.isCollapsedreturn"
                          class="popover fade show bs-popover-bottom" style="
                            position: absolute;
                            top: 110px;
                            left: -100px;
                            will-change: transform;
                            transform: translate(-50px, -84px);
                            max-width: 886px;
                            width: 486px;
                          ">
                          <div class="text-right">
                            <div (click)="
                                rowsControlsForreturn[i].isCollapsedreturn = !rowsControlsForreturn[i]?.isCollapsedreturn
                              " [attr.aria-expanded]="!rowsControlsForreturn[i]?.isCollapsedreturn" class="pointer"
                              [attr.aria-controls]="'isCollapsedreturn'+i">
                              <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                            </div>
                          </div>
                          <div class="arrow" style="right: 240px"></div>
                          <div formArrayName="flexReturn">
                            <div *ngFor="let fr of Returndate(i).controls; let flexReturnIndex = index;trackBy: trackByFn"
                              [formGroupName]="flexReturnIndex">
                              <div class="row align-items-center" style="padding: 15px 15px 0 15px">
                                <div class="col-12 col-md-5">
                                  <div class="form-group">
                                    <label for="dp" class="d-flex"> Return Date </label>
                                    <input type="date" class="form-control form-control-sm square"
                                      formControlName="flexReturnDate" name="flexReturnDate" id="flexReturnDate" />
                                  </div>
                                </div>
                                <div class="col-12 col-md-4 p-0">
                                  <div class="form-group timeouter">
                                    <label for="depatureTime">Return Time</label>
                                    <ngb-timepicker name="flexReturnTime" [spinners]="false" id="flexReturnTime"
                                      formControlName="flexReturnTime">
                                    </ngb-timepicker>
                                  </div>
                                </div>
                                <div class="col-12 col-md-3 p-0">
                                  <button (click)="addFlexReturn(i)" type="button" class="btn p-0 ml-2">
                                    <i class="ft-plus-circle" aria-hidden="true" style="font-size: 28px"></i>
                                  </button>
                                  <button (click)="removeflexReturn(i, flexReturnIndex)" type="button" class="btn p-0 ml-2">
                                    <i class="ft-minus-circle" aria-hidden="true" style="font-size: 28px"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-2 position-relative">
                        <div class="form-group">
                          <label for="from" class="d-flex">Class
                            <a class="p-0 ml-3" style="display: inline-block" (click)="
                                rowsControlsFlexClass[i].isCollapsedFlexClass = !rowsControlsFlexClass[i]?.isCollapsedFlexClass
                              " [attr.aria-controls]="'FlexClass_' + i"><i class="ft-zap text-info"></i></a>
                          </label>
                          <ng-select [items]="masterClassList" id="class" formControlName="className" bindValue="code"
                            bindLabel="name">
                          </ng-select>
                        </div>
                      </div>
                      <div id="FlexClass_{{ i }}" [ngbCollapse]="rowsControlsFlexClass[i]?.isCollapsedFlexClass"
                        class="popover fade show bs-popover-bottom" style="
                          position: absolute;
                          top: 99px;
                          margin-top: 30px;
                          margin-left: 650px;
                          left: 0px;
                          will-change: transform;
                          transform: translate(-50px, -84px);
                          max-width: 806px;
                          width: 320px;
                        ">
                        <div class="text-right">
                          <div (click)="
                              rowsControlsFlexClass[i].isCollapsedFlexClass = !rowsControlsFlexClass[i]?.isCollapsedFlexClass
                            " [attr.aria-expanded]="!rowsControlsFlexClass[i]?.isCollapsedFlexClass" class="pointer"
                            [attr.aria-controls]="'isCollapsedFlexClass'+i">
                            <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                          </div>
                        </div>
                        <div class="arrow" style="right: 12px"></div>
                        <div class="row" style="padding: 15px">
                          <div class="col-12 col-md-12">
                            <div class="form-group">
                              <label for="flexClass">Flex Class </label>
                              <ng-select [items]="masterClassList" formControlName="flexClassName" [multiple]="true" id="class"
                                bindValue="code" bindLabel="name">
                              </ng-select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-3 mt-3">
                        <div class="d-flex align-items-center">
                          <p class="pointer m-0 more-font-size"
                            (click)="rowsControlsForMultiCity[i].isCollapsed = !rowsControlsForMultiCity[i]?.isCollapsed"
                            [attr.aria-controls]="'collapse_' + i">
                            {{ !rowsControlsForMultiCity[i]?.isCollapsed ? 'less' : 'More' }}
                          </p>

                          <button *ngIf="tripTypeId === '11' && !isEdit" (click)="addFlight()" type="button"
                            class="btn p-0 ml-2">
                            <i class="ft-plus-circle" aria-hidden="true" style="font-size: 28px"></i>
                          </button>

                          <button *ngIf="tripTypeId === '11' && !isEdit" (click)="removeFlight(i)" type="button"
                            class="btn p-0 ml-2">
                            <i class="ft-minus-circle" aria-hidden="true" style="font-size: 28px"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="mt-1 full-right card col-md-2" *ngIf="isEdit">
                      <div class="form-group row ml-0">
                        <label for="team" class="d-flex mb-0"><img src="assets/img/team-icon.svg" width="35" /></label>
                        <select class="form-control form-control-sm square shadow-sm" id="team">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="form-group row ml-0">
                        <label for="resoures" class="d-flex mb-0" style="width: 35px; justify-content: center"><img
                            src="assets/img/user-icon.svg" width="26" /></label>
                        <select class="form-control form-control-sm square shadow-sm" id="resoures">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div> -->

                    <div class="form-row align-items-center col-12 p-0" id="collapse_{{ i }}"
                      [ngbCollapse]="rowsControlsForMultiCity[i]?.isCollapsed">

                      <div class="col-12 col-md-1">
                        <div class="form-group">
                          <label for="rbd">RBD</label>
                          <ng-select [items]="masterRbdList" id="rbd" formControlName="rbd" bindValue="code" bindLabel="name">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-12 col-md-1 position-relative">
                        <div class="form-group">
                          <label for="from" class="d-flex">AirLine
                            <a class="p-0" style="display: inline-block; margin-left: auto" (click)="
                                rowsControlsFlexAirline[i].isCollapsedFlexAirline =
                                  !rowsControlsFlexAirline[i]?.isCollapsedFlexAirline
                              " [attr.aria-controls]="'flexAirLine_' + i"><i class="ft-zap text-info"
                                style="font-size: 16px; padding: 0px 4px; align-items: center; display: flex"></i></a>
                          </label>
                          <input id="airline" type="text" #typeaheadInstance="ngbTypeahead"
                            class="form-control  square" (keydown)="typeaheadKeydown($event)"
                            [resultTemplate]="searchResultTemplate" [inputFormatter]="formatterAirline"
                            formControlName="airlineCode" [ngbTypeahead]="onSearchPoint" />

                          <ng-template #searchResultTemplate let-r="result" let-t="term">
                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                          </ng-template>
                        </div>
                      </div>
                      <div id="flexAirLine_{{ i }}" [ngbCollapse]="rowsControlsFlexAirline[i]?.isCollapsedFlexAirline"
                        class="popover fade show bs-popover-bottom ml-4" style="
                          position: absolute;
                          top: 9px;
                          margin-top: 100px;
                          left: 0px;
                          will-change: transform;
                          transform: translate(-50px, -84px);
                          max-width: 806px;
                          width: 320px;
                        ">
                        <div class="text-right">
                          <div (click)="
                              rowsControlsFlexAirline[i].isCollapsedFlexAirline =
                                !rowsControlsFlexAirline[i]?.isCollapsedFlexAirline
                            " [attr.aria-expanded]="!rowsControlsFlexAirline[i]?.isCollapsedFlexAirline" class="pointer"
                            [attr.aria-controls]="'isCollapsedFlexAirline'+i">
                            <i class="ft-x" aria-hidden="true" style="font-size: 18px"></i>
                          </div>
                        </div>
                        <div class="arrow" style="right: 43px"></div>
                        <div class="row" style="padding: 15px">
                          <div class="col-12 col-md-12">
                            <div class="form-group">
                              <label for="flexAirLine">Flex AirLine </label>
                              <div class="form-control form-control-sm square form-control-custom">
                                <span class="selected-item" *ngFor="let item of selectedFlexAirLineItems[i]">
                                  {{ item }}
                                  <span class="close-selected" (click)="closeFlex(item, 'flexAirline', i)">&nbsp;x</span>
                                </span>
                                <input id="flexAirLine" style="width: 100%" type="text" (selectItem)="
                                    onSelectedItemsFlexAirLine($event, 'flexAirline', i); flexAirlineInput.value = ''
                                  " #flexAirlineInput class="multiSelectInputNoBorder" (keydown)="typeaheadKeydown($event)"
                                  [resultTemplate]="searchResultTemplate" formControlName="flexAirLineCode"
                                  [inputFormatter]="formatterAirline" [ngbTypeahead]="onSearchAirLineMulitiselect" />

                                <ng-template #searchResultTemplate let-r="result" let-t="term">
                                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <ul class="list-unstyled mb-0 ml-1 mt-3">
                        <li class="d-inline-block mr-2 mb-2">
                          <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="{{ 'color-checkbox-1' + i }}" formControlName="validateCarrier" />
                            <label for="{{ 'color-checkbox-1' + i }}"><span>Validate Carrier</span></label>
                          </div>
                        </li>
                      </ul>
                      <div class="col-12 col-md-1">
                        <div class="form-group">
                          <label for="bdfrom" class="form-label">Budget From</label>
                          <input type="number" class="form-control  square" formControlName="budgetFrom"
                            id="bdfrom" />
                        </div>
                      </div>
                      <div class="col-12 col-md-1">
                        <div class="form-group">
                          <label for="bdto" class="form-label">Budget To</label>
                          <input type="number" class="form-control  square" formControlName="budgetTo"
                            id="bdto" />
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <div class="col-12 col-md-12 p-0">
                  <div class="form-row align-items-end">
                    <div class="col-12 col-md-4 d-flex adtinput">
                      <div class="form-group mr-3">
                        <label for="adt">Adt</label>
                        <input type="number" id="adt"
                          [ngClass]="{ 'is-invalid': (submitted || f.noofADT.touched) && f.noofADT.errors }"
                          formControlName="noofADT" class="form-control form-control-sm square" name="adt" />
                        <div *ngIf="(submitted || f.noofADT.touched) && f.noofADT.errors" class="invalid-feedback">
                          <div *ngIf="f.noofADT.errors.required">required</div>
                        </div>
                      </div>

                      <div class="form-group mr-3">
                        <label for="chd">Chd</label>
                        <input type="number" id="chd" formControlName="noofCHD" class="form-control form-control-sm square"
                          name="chd" />
                      </div>

                      <div class="form-group">
                        <label for="inf">Inf</label>
                        <input type="number" id="inf" formControlName="noofINF" class="form-control form-control-sm square"
                          name="inf" />
                      </div>
                      <!-- <div class="col-md-10 col-xl-10 col-lg-10 col-12">
                        <div class="form-group mb-2">
                          <label for="Transitions">Transitions</label>
                          <ng-select (change)="onChangeTransitions($event)" [searchable]="true"  placeholder="Enter Transition">
                            <ng-option *ngFor="let t of bpftransitionsList" [value]="t.transitionId">{{t.transition}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-md-2 mt-3">
                        <button type="button" class="btn btn-sm btn-submit-q" >Update</button>
                      </div> -->
                    </div>
                    <div style="margin-left: auto" *ngIf="isEdit">
                      <button type="button" (click)="collapseFlightAddons.toggle()"
                        [attr.aria-expanded]="!flightAddonsCollapsed" aria-controls="flightAddonsCollapsed"
                        class="btn btn-primary  mr-1 mb-1 pull-right">
                        Addons {{ !flightAddonsCollapsed ? 'Close' : 'Open' }}
                      </button>
                    </div>
                  </div>
                </div>

                <div #collapseFlightAddons="ngbCollapse" [(ngbCollapse)]="flightAddonsCollapsed" class="addons-cl">
                  <div formArrayName="addOns">
                    <div *ngFor="let a of flightAddons().controls; let addonsIndex = index" [formGroupName]="addonsIndex">
                      <div class="form-row">
                        <div class="col-md-2 col-12">
                          <div class="form-group mb-2">
                            <label for="addons">Addons</label>
                            <input type="text" id="addons" (keydown)="typeaheadKeydown($event)"
                              [resultTemplate]="searchResultTemplate" #typeaheadInstance="ngbTypeahead"
                              class="form-control  square" name="addons" formControlName="addOnType"
                              [inputFormatter]="flightAddonsformatter" [ngbTypeahead]="onSearchFlightAddons" />
                            <ng-template #searchResultTemplate let-r="result" let-t="term">
                              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                            </ng-template>
                          </div>
                        </div>

                        <div formGroupName="requiredRoute" class="col-md-2 col-12">
                          <div class="form-group mb-2">
                            <label for="Routes">Routes</label>
                            <ng-select [searchable]="true" class="custom" [items]="addonsRoutes" bindLabel="route" [multiple]="true"
                              placeholder="Search" formControlName="routes">
                              <ng-template ng-header-tmp>
                                <div class="d-flex">
                                  <button class="btn btn-link btn-sm" (click)="onSelectRoutesAll(addonsIndex)">
                                    Select All
                                  </button>
                                  <button class="btn btn-link btn-sm" (click)="onClearRoutesAll(addonsIndex)">Clear All</button>
                                </div>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items">
                                <div class="ng-value" *ngFor="let item of items | slice: 0:0">
                                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items?.length > 0">
                                  <span class="ng-value-label">
                                    {{ items?.length === addonsRoutes.length ? 'All' : items?.length }}
                                    selected
                                  </span>
                                </div>
                              </ng-template>
                            </ng-select>
                          </div>
                        </div>
                        <div formGroupName="requiredPassenger" class="col-md-2 col-12">
                          <div class="form-group mb-2">
                            <label for="Pax">Pax</label>
                            <ng-select [searchable]="true" class="custom" [items]="addonsPassengers" bindLabel="paxType" [multiple]="true"
                              placeholder="Search" formControlName="passengers">
                              <ng-template ng-header-tmp>
                                <div class="d-flex">
                                  <button class="btn btn-link btn-sm" (click)="onSelectPaxAll(addonsIndex)">Select All</button>
                                  <button class="btn btn-link btn-sm" (click)="onClearPaxAll(addonsIndex)">Clear All</button>
                                </div>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items">
                                <div class="ng-value" *ngFor="let item of items | slice: 0:0">
                                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items?.length > 0">
                                  <span class="ng-value-label">
                                    {{ items?.length === addonsPassengers.length ? 'All' : items?.length }}
                                    selected
                                  </span>
                                </div>
                              </ng-template>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-md-2 col-12">
                          <div class="form-group mb-2">
                            <label for="Remarks">Remarks</label>
                            <input type="text" id="Remarks" placeholder="Enter Remarks"
                              class="form-control  square" name="Remarks" formControlName="remarks" />
                          </div>
                        </div>
                        <div class="d-flex mt-4 ml-1">
                          <ul class="list-unstyled mb-0">
                            <li class="d-inline-block mr-2 mb-2">
                              <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="{{ 'checkbox2' + addonsIndex }}" formControlName="required" />
                                <label for="{{ 'checkbox2' + addonsIndex }}" placement="bottom"
                                  ngbTooltip="Required"><span>Req</span></label>
                              </div>
                            </li>
                            <li class="d-inline-block mr-2 mb-2">
                              <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="{{ 'checkbox3' + addonsIndex }}" formControlName="extraCost" />
                                <label for="{{ 'checkbox3' + addonsIndex }}"><span>E.Cost</span></label>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex">
                          <button (click)="addAddons()" type="button" class="btn mt-2 p-0">
                            <i class="ft-plus-circle text-primary" aria-hidden="true" style="font-size: 28px"></i>
                          </button>
                          <button (click)="removeAddons(addonsIndex)" type="button" class="btn p-0 ml-2 mt-2">
                            <i class="ft-minus-circle text-primary" aria-hidden="true" style="font-size: 28px"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div>
              <button type="button" (click)="getSupplierDetailes()" class="btn btn-primary  mr-2 mb-2">
                <i class="icon-users mr-1"></i>
                Get Supplier
              </button>
            </div>
            <div *ngIf="supplierDeatils && supplierDeatils.length >0">
              <div >
                <div >
                  <div >
                    <div >
                      <fieldset class="form-group">
                        <label>Show
                          <select name="users-list-select"[(ngModel)]="pageSize" class="form-control form-control-sm d-inline-block width-100 p-right-25 ">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select>
                          entries</label>
                        <label for="ngx-filter-ref" class="float-right">Search:
                          <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200"
                            type="text"
                             id="search"
                             [(ngModel)]="searchText"
                             placeholder="Search" />
                        </label>
                      </fieldset>
                      <div class="table-responsive">

                        <table class="table table-bordered m-0">
                          <thead>
                            <tr class="refresh">
                              <th scope="col"></th>
                              <th scope="col" class="highlight_text"[appSort]="supplierDeatils" data-order="desc" data-name="businessName">
                                Supplier
                              </th>
                              <th scope="col" class="highlight_text"[appSort]="supplierDeatils" data-order="desc" data-name="primaryConatct">
                                Contact
                              </th>
                              <th scope="col" class="highlight_text"[appSort]="supplierDeatils" data-order="desc" data-name="primaryEmail">
                                Email
                              </th>
                              <th scope="col" class="highlight_text"[appSort]="supplierDeatils" data-order="desc" data-name="primaryPhoneNumber">
                               Phone Number
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let supplier of supplierDeatils | filter:searchText | slice: (page-1) * pageSize : page * pageSize; index as i;
                            trackBy: trackByFn
                            ">
                              <td scope="row">
                                <ul class="list-unstyled mb-0">
                                  <li class="d-inline-block mr-2 mb-2">
                                    <div class="checkbox">
                                      <input
                                      type="checkbox"
                                      (change)="isAllSelected()"
                                       id="{{'color-checkbox-5' + i}}"
                                       [(ngModel)]="supplier.isSelected"
                                       value="{{supplier}}"
                                        >
                                      <label for="{{'color-checkbox-5' + i}}"></label>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                              <td scope="row">{{supplier?.businessName}}</td>
                              <td scope="row">{{supplier?.primaryConatct}}</td>
                              <td scope="row">{{supplier?.primaryEmail}}</td>
                              <td scope="row">{{supplier?.primaryPhoneNumber}}</td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="d-flex justify-content-between p-2" *ngIf="supplierDeatils?.length >0" >
                          <p>Showing 1 to {{pageSize}} of {{supplierDeatils?.length}} entries</p>
                          <ngb-pagination [collectionSize]="supplierDeatils?.length" [(page)]="page" [maxSize]="10"
                            [boundaryLinks]="true" [pageSize]="pageSize"  class="d-flex justify-content-center">
                          </ngb-pagination>
                        </div>
                      </div>
                      <div>
                        <button type="button" (click)="onUpdateFlightForm()" class=" btn  btn-primary  mr-2">
                          SEND
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true" *ngIf="requestCreationLoading">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
