<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <div class="col-lg-12 col-md-12 col-12 ">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{PageTitle}}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="searchpaxForm" class="form">
              <div class="form-row">
                <div class="col-12 col-md-2">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control  square" id="firstName" placeholder="First Name"
                    formControlName="firstName" />
                </div>
                <div class="col-12 col-md-2">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control  square" id="lastName" placeholder="Last Name"
                    formControlName="lastName" />
                </div>
                <div class="col-12 col-md-3">
                  <label for="primaryEmail">Email</label>
                  <input type="email" class="form-control  square"
                    [ngClass]="{ 'is-invalid': (submitted || f.primaryEmail.touched) && f.primaryEmail.errors }"
                    id="primaryEmail" placeholder=" Email" formControlName="primaryEmail" />
                  <div *ngIf="(submitted || f.primaryEmail.touched) && f.primaryEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.primaryEmail.errors.pattern">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <label for="primaryEmail"> Phone Number</label>
                  <input type="tel" maxlength="20" (keypress)="numberOnly($event)"
                    class="form-control  square" id="primaryPhoneNumber" placeholder="Phone Number"
                    formControlName="primaryPhoneNumber"
                    />
                  <!--  [ngClass]="{ 'is-invalid': (submitted || f.primaryPhoneNumber.touched) && f.primaryPhoneNumber.errors }"<div *ngIf="(submitted || f.primaryPhoneNumber.touched) && f.primaryPhoneNumber.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.primaryPhoneNumber.errors.pattern">Phone number must be 10 digits
                      only!</div>

                  </div> -->
                </div>
                 <div class="col-12 col-md-2 mt-3" *ngIf="keys?.includes(searchButtonKey)">
                  <button type="button"   (click)="onSubmitPaxSearch()" class="btn btn-primary ">
                    <i class="fa ft-search mr-1"></i>
                    <span> Search </span>
                  </button>

                </div>

              </div>
            </form>

          <div >
            <div class="text-center"    *ngIf="keys?.includes(paxButtonKey)&&createnewContact" >
              <ngb-alert type="light-info" class="mb-2" [dismissible]="false">
                <span class="mb-0">No Found Pax Data We Can </span>
                <a (click)="gotoNewPaxForm()" class="font-weight-bold text-info">Create</a>
              </ngb-alert>
            </div>
          </div>


          <div class="text-center" *ngIf="keys?.includes(contactButtonKey)&&customerIDCheck"   >
            <ngb-alert type="light-info" class="mb-2" [dismissible]="false">
              <span class="mb-0">No data found with the given search criteria </span>
              <a class="font-weight-bold text-info" (click)="gotoContactForm()">Click here,to create a Corporate
                Contact</a>
              <span class="mb-0"> Or </span>
              &nbsp;&nbsp;
              <a class="font-weight-bold text-info">Proceed for Retail</a>
            </ngb-alert>
          </div>



            <div class="text-center" *ngIf="loading">
              <h5>{{ loading ? 'loading please wait...' : '' }}</h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>





