:host ::ng-deep  .my-drop-zone {
  border: dotted 3px lightgray;
  background-color: #fff !important;
}

.more-highlight{
  cursor: pointer;
}
.a_link:hover{
  text-decoration: underline !important;
}
