<!--
<section id="gradient-buttons">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <h6 class="mt-2 mb-0 ">
        <span class="d-flex align-items-center">
          <span><a (click)="goToDashBoard()">Home /</a> <span> Cash Transfer Agent To Agent</span></span>
        </span>
      </h6>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cash Transfer Agent To Agent</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form>
            <div class="row">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                  <div class="form-row">
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="amount">Amount</label>
                        <input type="tel" id="amount" (keypress)="numberOnly($event)" placeholder="Enter Amount" class="form-control form-control square" name="amount">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="searchindividual">Agent Name</label>
                        <ng-template #searchResultAgentTemplate let-r="result" let-t="term">
                          <ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight>
                        </ng-template>
                        <input
                        id="agentName"
                        type="text"
                        #typeaheadPaxInstance="ngbTypeahead"
                        class="form-control square"
                        placeholder="Search Agent Name"
                        [resultTemplate]="searchResultAgentTemplate"
                        [inputFormatter]="agentFormatter"
                         [ngbTypeahead]="onSearchAgent"
                        />

                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="Reference">Reference</label>
                        <input type="text" id="Reference" placeholder="Enter Reference"  class="form-control square" name="Reference">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="Remarks">Remarks</label>
                        <input type="text" id="Remarks" placeholder="Enter Remarks"  class="form-control square" name="Remarks">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-6 col-12">
                  <div class="form-row grey  my-drop-zone">
                    <div class="col-md-12 col-12">
                      <div class="form-group   mb-2 mt-3">
                        <fieldset class="form-group square">
                          <label for="inputGroupFile01">Upload </label>
                          <div class="custom-file ">
                            <input
                            type="file"
                            class="custom-file-input"
                            id="inputGroupFile01"
                            accept=".jpg, .jpeg, .png"
                            multiple
                            (change)="onFileChange($event)"
                            >
                            <label class="custom-file-label square" for="inputGroupFile01">Choose file</label>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="form-row mt-1">
                    <div class="col-12 col-md-12 col-lg-12">
                      <div class="bg-light-secondary p-0" *ngFor="let img of myArrayFiles;let imageIndex = index">
                        <div class="form-group mb-1">
                          <span class="text p-1 more-highlight ">
                            <a href="{{img.name}}" target="_blank">{{img.name}} </a>
                            <p class="float-right more-highlight  mr-1" (click)="removeMultipleFiles(imageIndex,img.name)">
                              <i class="ft-minus-circle more-highlight " aria-hidden="true"></i>
                            </p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </form>
          <div>
            <button type="button" class="btn gradient-purple-bliss mr-1">
              <i class="ft-check mr-2"></i>
              Save
            </button>
            <button type="button" class="btn gradient-ibiza-sunset">
              <i class="ft-x mr-2"></i>
              Cancel
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="horizontal-form-layout">
  <div class="row match-height">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <h6 class="mt-2 mb-0 ">
        <span class="d-flex align-items-center">
          <span>
            <a class="a_link" (click)="goToDashBoard()">Home</a>
            <i class="ft-chevron-right"></i>
            <span> Cash Transfer Agent To Agent</span>
          </span>
        </span>
      </h6>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cash Transfer Agent To Agent</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form  [formGroup]="transferAgentForm">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="Amount">Amount</label>
                    <div class="col-md-9">
                      <input
                      type="tel"
                      (keypress)="numberOnly($event)"
                      placeholder="Enter Amount"
                       class="form-control square"
                       id="Amount"
                       maxlength="10"
                       name="Amount"
                       formControlName="transferAmount"
                       [ngClass]="{ 'is-invalid': (submitted || f.transferAmount.touched) && f.transferAmount.errors }"
                       >
                       <div *ngIf="(submitted || f.transferAmount.touched) && f.transferAmount.errors" class="invalid-feedback">
                        <div *ngIf="f.transferAmount.errors.required">Please enter your amount </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="Agent-Name">Agent Name</label>
                    <div class="col-md-9">
                      <input
                      type="search"
                      class="form-control square"
                      id="Agent-Name"
                      name="Agent-Name"
                      #typeaheadPaxInstance="ngbTypeahead"
                      placeholder="Search Agent Name"
                      [resultTemplate]="searchResultAgentTemplate"
                      [inputFormatter]="agentFormatter"
                       [ngbTypeahead]="onSearchAgent"
                       formControlName="transferToId"
                       [ngClass]="{ 'is-invalid': (submitted || f.transferToId.touched) && f.transferToId.errors }"
                      >
                      <div *ngIf="(submitted || f.transferToId.touched) && f.transferToId.errors" class="invalid-feedback">
                        <div *ngIf="f.transferToId.errors.required">Please select your agent name </div>
                      </div>
                      <ng-template #searchResultAgentTemplate let-r="result" let-t="term">
                        <ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-md-3">
                <div class="col-md-6 col-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="Reference">Reference Number</label>
                    <div class="col-md-9">
                      <input
                      type="text"
                      class="form-control square"
                      placeholder="Ex: AEDG2344"
                      id="Reference"
                      name="Reference"
                      maxlength="50"
                      formControlName="referenceNo"
                      [ngClass]="{ 'is-invalid': (submitted || f.referenceNo.touched) && f.referenceNo.errors }"
                      >
                      <div *ngIf="(submitted || f.referenceNo.touched) && f.referenceNo.errors" class="invalid-feedback">
                        <div *ngIf="f.referenceNo.errors.required">Please enter your reference number </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="Remarks">Remarks</label>
                    <div class="col-md-9">
                      <input
                      type="text"
                      class="form-control square"
                      id="Remarks"
                      name="Remarks"
                      placeholder="Enter Remarks"
                      formControlName="remarks"
                      [ngClass]="{ 'is-invalid': (submitted || f.remarks.touched) && f.remarks.errors }"
                      >
                      <div *ngIf="(submitted || f.remarks.touched) && f.remarks.errors" class="invalid-feedback">
                        <div *ngIf="f.remarks.errors.required">Please enter your remarks </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="horizontal-form-5">Uploads</label>
                    <div class="col-md-9">
                      <fieldset class="form-group square">
                        <div class="custom-file ">
                          <input
                          type="file"
                          class="custom-file-input"
                          id="inputGroupFile01"
                          accept=".jpg, .jpeg, .png"
                          multiple
                          (change)="onFileChange($event)"
                          >
                          <label class="custom-file-label square" for="inputGroupFile01">Choose file</label>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="bg-light-secondary p-0" *ngFor="let img of myArrayFiles;let imageIndex = index">
                    <div class="form-group ">
                      <span class="text p-1 more-highlight mb-2">
                        <a href="{{img?.name}}" target="_blank">{{img?.name}} </a>
                          <i class="ft-x float-right mt-1 mr-2" (click)="removeMultipleFiles(imageIndex,img.name)" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </form>
            <div>
              <button type="button" (click)="onSubmitForm()" class="btn btn-primary mr-1">
                <i class="ft-bookmark"></i>
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
