.pointer {
  cursor: pointer;
}



th,
td,
td {
  border-bottom-width: 0;
}

.table td,
.table th {
  font-size: 14px !important;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 14px;
}



.table th {
  border-top: 0px solid #226CC5;
}

.table-responsive {
  border: 0px solid #cecece;
}

.wrap-text {
  word-wrap: break-word;
}

.color-light {
  color: #ffffff;
}




