.srchbarright{ width: 60px; position: absolute; right: -10px; top: 0;}
.nav-tabs {
  /* border-bottom: 1px solid #dee2e6; */
  border-bottom:none !important ;
}
.position-abs{position: absolute; top: 5px; right: 2px;}
/* /input type=number increment hiddeen css/ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number']:hover {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Firefox */
}

.pointer {
  cursor:pointer;
}
